.body{
    padding: 0 150px;
    align-items: center;
}

.sponsor{
    margin: 40px 0 ;
}

h1{
    color: azure;
    
}

/* a:visited{
    color:transparent !important;
} */


@media(max-width: 600px){
    .body{
        padding: 0;
        padding: 20px;
    }
}